#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25    // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

#define BASE    0
#define CODE    1
#define EXTRA   2
#define NAV     3
#define NAV2    4
#define NUM     5
#define FN      6
#define BLT     7

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;     // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

/ {
    combos {
        compatible = "zmk,combos";
        combo_kj_esc {
            timeout-ms = <50>;
            key-positions = <23 24>; // J and K positions
            bindings = <&kp ESC>;
            layers = <0>;
        };
//        combo_mcomma_enter {
//            timeout-ms = <50>;
//            key-positions = <37 38>; // M and , positions
//            bindings = <&kp ENTER>;
//            layers = <0>;
//        };
        combo_three_enter {
            timeout-ms = <50>;
            key-positions = <23 24 25>; // J, K, and L positions
            bindings = <&kp ENTER>;
            layers = <0>;
        };
        combo_df_numpad {
            timeout-ms = <50>;
            key-positions = <16 17>; // D and F positions
            bindings = <&mo NUM>;
            layers = <0>;
        };
//        combo_cv_fn {
//            timeout-ms = <50>;
//            key-positions = <31 32>; // C and V positions
//            bindings = <&mo FN>;
//            layers = <0>;
//        };
        combo_sdf_fn {
            timeout-ms = <50>;
            key-positions = <15 16 17>; // S, D and F positions
            bindings = <&mo FN>;
            layers = <0>;
        };
        combo_zx_blt {
            timeout-ms = <50>;
            key-positions = <40 41>; // Z and X positions
            bindings = <&mo BLT>;
            layers = <0>;
        };
    };

    behaviors {
        shift_caps: shift_caps {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_SHIFT_CAPS";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LEFT_SHIFT>, <&led_caps_lock>;
        };
        double_colon: double_colon {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <50>;
            bindings = <&kp COLON>, <&kp COLON>;
        };

        // big menu
        big_menu: big_menu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <50>;
            bindings = <&macro_press &kp LALT>,
                <&macro_tap &kp SPACE>,
                <&macro_release &kp LALT>;
        };

        // desktop shortcuts
        desk_1: desk_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <50>;
            bindings = <&macro_press &kp LALT>,
                <&macro_tap &kp N1>,
                <&macro_release &kp LALT>;
        };
        desk_2: desk_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <50>;
            bindings = <&macro_press &kp LALT>,
                <&macro_tap &kp N2>,
                <&macro_release &kp LALT>;
        };    
        desk_3: desk_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <50>;
            bindings = <&macro_press &kp LALT>,
                <&macro_tap &kp N3>,
                <&macro_release &kp LALT>;
        };    
        desk_4: desk_4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <50>;
            bindings = <&macro_press &kp LALT>,
                <&macro_tap &kp N4>,
                <&macro_release &kp LALT>;
        };    
        desk_5: desk_5 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <50>;
            bindings = <&macro_press &kp LALT>,
                <&macro_tap &kp N5>,
                <&macro_release &kp LALT>;
        };
		mv_desk_1: mv_desk_1 {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			wait-ms = <50>;
			bindings = <&macro_press &kp LALT>,
				<&macro_press &kp LSHIFT>,
				<&macro_tap &kp N1>,
				<&macro_release &kp LSHIFT>,
				<&macro_release &kp LALT>;
		};
		mv_desk_2: mv_desk_2 {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			wait-ms = <50>;
			bindings = <&macro_press &kp LALT>,
				<&macro_press &kp LSHIFT>,
				<&macro_tap &kp N2>,
				<&macro_release &kp LSHIFT>,
				<&macro_release &kp LALT>;
		};
		mv_desk_3: mv_desk_3 {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			wait-ms = <50>;
			bindings = <&macro_press &kp LALT>,
				<&macro_press &kp LSHIFT>,
				<&macro_tap &kp N3>,
				<&macro_release &kp LSHIFT>,
				<&macro_release &kp LALT>;
		};
		mv_desk_4: mv_desk_4 {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			wait-ms = <50>;
			bindings = <&macro_press &kp LALT>,
				<&macro_press &kp LSHIFT>,
				<&macro_tap &kp N4>,
				<&macro_release &kp LSHIFT>,
				<&macro_release &kp LALT>;
		};

        win_enter: win_enter {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <50>;
            bindings = <&macro_press &kp LGUI>,
                <&macro_tap &kp ENTER>,
                <&macro_release &kp LGUI>;
        };
        win_s_enter: win_s_enter {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <50>;
            bindings = <&macro_press &kp LGUI>,
				<&macro_press &kp LSHIFT>,
                <&macro_tap &kp ENTER>,
                <&macro_release &kp LSHIFT>,
                <&macro_release &kp LGUI>;
        };
        win_up: win_up {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <50>;
            bindings = <&macro_press &kp LGUI>,
                <&macro_tap &kp UP>,
                <&macro_release &kp LGUI>;
        };
        win_right: win_right {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <50>;
            bindings = <&macro_press &kp LGUI>,
                <&macro_tap &kp RIGHT>,
                <&macro_release &kp LGUI>;
        };
        win_down: win_down {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <50>;
            bindings = <&macro_press &kp LGUI>,
                <&macro_tap &kp DOWN>,
                <&macro_release &kp LGUI>;
        };
        win_left: win_left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <50>;
            bindings = <&macro_press &kp LGUI>,
                <&macro_tap &kp LEFT>,
                <&macro_release &kp LGUI>;
        };
        win_U: win_U {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <50>;
            bindings = <&macro_press &kp LGUI>,
                <&macro_tap &kp U>,
                <&macro_release &kp LGUI>;
        };
        win_I: win_I {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <50>;
            bindings = <&macro_press &kp LGUI>,
                <&macro_tap &kp I>,
                <&macro_release &kp LGUI>;
        };
        win_J: win_J {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <50>;
            bindings = <&macro_press &kp LGUI>,
                <&macro_tap &kp J>,
                <&macro_release &kp LGUI>;
        };
        win_K: win_K {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <50>;
            bindings = <&macro_press &kp LGUI>,
                <&macro_tap &kp K>,
                <&macro_release &kp LGUI>;
        };
        alt_tab: alt_tab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <50>;
            bindings = <&macro_press &kp LALT>,
                <&macro_tap &kp TAB>,
                <&macro_release &kp LALT>;
        };
        alt_left: alt_left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <50>;
            bindings = <&macro_press &kp LALT>,
                <&macro_tap &kp LEFT>,
                <&macro_release &kp LALT>;
        };
        alt_right: alt_right {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <50>;
            bindings = <&macro_press &kp LALT>,
                <&macro_tap &kp RIGHT>,
                <&macro_release &kp LALT>;
        };
        alt_enter: alt_enter {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <50>;
            bindings = <&macro_press &kp LALT>,
                <&macro_tap &kp ENTER>,
                <&macro_release &kp LALT>;
        };
        alt_w: alt_w {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <50>;
            bindings = <&macro_press &kp LALT>,
                <&macro_tap &kp W>,
                <&macro_release &kp LALT>;
        };
        alt_bspc: alt_bspc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <50>;
            bindings = <&macro_press &kp LALT>,
                <&macro_tap &kp BSPC>,
                <&macro_release &kp LALT>;
        };
        ctrl_bspc: ctrl_bspc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <50>;
            bindings = <&macro_press &kp LCTRL>,
                <&macro_tap &kp BSPC>,
                <&macro_release &kp LCTRL>;
        };
		led_caps_lock: led_caps_lock {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <50>;
            bindings = <&macro_tap &kp CAPS>,
                <&macro_tap &rgb_ug RGB_TOG>;
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
        tap-ms = <100>;
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "BASE";
            bindings = <
&kp DEL    &kp Q     &kp W      &kp E     &kp R			&kp T                                  &none                       &kp Y           &kp U        &kp I      &kp O    &kp P       &big_menu
&kp TAB    &kp A     &kp S      &kp D     &kp F			&kp G                           &none  &none    &none              &kp H           &kp J        &kp K      &kp L    &kp COLON   &kp HOME
&kp LCTRL  &kp Z     &kp X      &kp C     &kp V			&kp B            &none                 &none                       &kp N           &kp M        &kp COMMA  &kp DOT  &kp SEMI    &kp END
                                &kp LGUI  &shift_caps   &lt EXTRA SPACE                                                    &lt CODE BSPC   &alt_bspc    &kp LALT
            >;
            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        code_layer {
            display-name = "CODE";
            bindings = <
&trans    &kp TILDE   &kp LT        &kp GT      &kp PERCENT    &kp BSLH                                 &none                   &kp EQUAL        &kp DQT      &kp LBRC   &kp RBRC  &kp PLUS      &trans   
&trans    &kp HASH    &kp EXCL      &kp QMARK   &kp AMPS       &kp PIPE                        &none    &none    &none          &kp MINUS        &kp SQT      &kp LPAR   &kp RPAR  &double_colon &trans   
&trans    &kp GRAVE   &kp CARET     &kp DOLLAR  &kp AT         &kp FSLH            &none                &none                   &kp UNDER        &kp STAR     &kp LBKT   &kp RBKT  &none         &trans   
                                    &trans      &trans         &lt NAV SPACE                                                    &trans           &trans       &trans
            >;
            sensor-bindings = <&scroll_encoder>;
        };

        extra_layer {
            display-name = "EXTRA";
            bindings = <
&none     &none            &none         &none          &none           &none                                   &none                 &kp K_LOCK		  &kp PGDN    &kp PGUP  &kp PSCRN  &none	  &trans
&none     &kp C_MUTE	   &kp C_VOL_DN  &kp  C_VOL_UP  &kp  C_PP       &kp C_NEXT                     &none    &none    &none        &kp LEFT  		  &kp DOWN    &kp UP    &kp RIGHT  &none      &trans
&trans    &kp F13          &kp F14       &kp F15        &kp F16         &kp F17			&none				    &none				  &kp F18   		  &kp F19     &kp F20   &kp F21    &kp F22    &trans
									     &trans		    &trans          &trans														  &lt NAV BSPC     &trans      &trans
            >;
            sensor-bindings = <&scroll_encoder>;
        };

        nav_layer {
            display-name = "NAV";
            bindings = <
&none     &none       &mv_desk_1 &mv_desk_2 &mv_desk_3 &mv_desk_4                              &none                   &none     &alt_tab  &none      &none      &none     &none
&none     &none       &desk_1    &desk_2    &desk_3    &desk_4                          &none  &none    &none          &alt_left &alt_w    &alt_enter &alt_right &none     &none
&none     &none       &none      &none      &none      &none                 &none             &none                   &none     &none     &none      &none      &none     &none
                                 &none      &none      &none                                                           &none     &none     &none
            >;
            sensor-bindings = <&scroll_encoder>;
        };

        nav_layer {
            display-name = "NAV2";
            bindings = <
&none     &none     &none      &none      &none       &none                           &none                   &none         &win_U        &win_enter    &win_I         &none      &none
&none     &none     &none      &none      &none       &none                    &none  &none    &none          &win_left     &win_down     &win_up       &win_right     &none      &none
&none     &none     &none      &none      &none       &none         &none             &none                   &none         &win_J        &win_s_enter  &win_K         &none      &none
                               &none      &none       &none                                                   &none         &none         &none
            >;
            sensor-bindings = <&scroll_encoder>;
        };

        numpad_layer {
            display-name = "NUM";
            bindings = <
&none     &none     &none      &none      &none       &none                              &none					&kp STAR    &kp N7     &kp N8     &kp N9     &kp PLUS    &none
&none     &none     &none      &none      &none       &none                     &none    &none    &none         &kp DOT		&kp N4     &kp N5     &kp N6     &kp MINUS   &none
&none     &none     &none      &none      &none       &none            &none             &none					&kp N0      &kp N1     &kp N2     &kp N3     &kp FSLH    &none
                               &none      &none       &none                                                     &kp BSPC    &trans     &trans
            >;
            sensor-bindings = <&scroll_encoder>;
        };

        fn_layer {
            display-name = "FN";
            bindings = <
&none     &none     &none      &none      &none       &none                                    &none                         &none       &kp F7     &kp F8     &kp F9     &kp F12    &none
&none     &none     &none      &none      &none       &none                           &none    &none    &none                &none       &kp F4     &kp F5     &kp F6     &kp F11    &none
&none     &none     &none      &none      &none       &none            &none                   &none                         &none       &kp F1     &kp F2     &kp F3     &kp F10    &none
                               &none      &none       &none                                                                  &none       &none      &none
            >;
            sensor-bindings = <&scroll_encoder>;
        };

        blt_layer {
            display-name = "BLT";
            bindings = <
&none    &rgb_ug RGB_TOG  &rgb_ug RGB_EFF  &rgb_ug RGB_COLOR_HSB(0,0,100)  &rgb_ug RGB_BRI    &rgb_ug RGB_BRD                  &none                    &rgb_ug RGB_HUI       &rgb_ug RGB_HUD         &rgb_ug RGB_SAI        &rgb_ug RGB_SAD       &none     &none
&none    &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2                    &bt BT_SEL 3       &bt BT_SEL 4             &none   &none    &none           &none       &none         &none        &none       &none     &none
&none    &bt BT_CLR       &none            &none                           &none              &bt BT_CLR_ALL      &none        &none                    &none       &none         &none        &none       &none     &none
                          &none            &none                           &none                                                                        &none       &none         &none
            >;
            sensor-bindings = <&scroll_encoder>;
        };
    };
};
